@model IEnumerable<AdAtTheRightTime.Models.Query>

@{
    ViewBag.Title = "ViewQueries";
}

<h2>ViewQueries</h2>

@if (ViewBag.Message == "empty")
{
    <table class="table">
        <tr>No Saved Queries</tr>
    </table>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Queries)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Queries)
                </td>
            </tr>
        }

    </table>
}
@if (ViewBag.Role == "Business Admin")
{
    <div>
        @Html.ActionLink("Create a New Query", "Create") |
        @Html.ActionLink("Back to Business", "AdminView", "Businesses") |
        @Html.ActionLink("Choose a Query with which to View Data", "ChooseQuery", "Queries")
    </div>
}
else
{
    <div>
        @Html.ActionLink("Back to Business", "ManagerView", "Businesses")
        @Html.ActionLink("Choose a Query with which to View Data", "ChooseQuery", "Queries")
    </div>
}


       
