@model List<AdAtTheRightTime.Models.QueryViewModel>

@{
    ViewBag.Title = "Sales Data";
    string queryBuiltString = Model[0].QueryBuiltString;
}

<h2>Sales Data</h2>
<div>
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=@queryBuiltString + &date=today+1-m&cmpt=q&tz=Etc/GMT%2B5&tz=Etc/GMT%2B5&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script></div>
<div><img src="Sales/Chart" /></div>
<div>
    @Html.Action("ChooseQuery", "Queries")
</div>
<div>
    @Html.Action("Create", "Queries")
</div>

<div class="dhx_footer">

    @Html.ActionLink("Back to Business", "AdminView", "Businesses") |
    @Html.ActionLink("Add Managers", "Index", "Settings") |
    @Html.ActionLink("Change your Account Settings", "Index", "Manage") |
    @Html.ActionLink("View your calendar", "Calendar", "Profiles")
</div>