@model AdAtTheRightTime.Models.Business

@{
    ViewBag.Title = "AdminView";
}

<h2>Business Administrator View</h2>

<div>
    <h4>Your business: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Industry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Industry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promotion)
        </dd>

    </dl>
    <div>
        @Html.Action("ViewConnectedUsers")
    </div>
</div>
<p>
    @Html.ActionLink("Edit Business Details", "Edit", new { id = Model.BusinessId }) |
    @Html.ActionLink("View Sales Data", "Index","Sales") |
    @Html.ActionLink("View Business Settings", "Index", "Settings") |
    @Html.ActionLink("Change your Account Settings", "Index", "Manage") |
    @Html.ActionLink("View your calendar", "Cal", "Profiles")
</p>
