
@{
    ViewBag.Title = "Business Managers";
}

<h2>Your Managers</h2>

@if (ViewBag.allowManagerAdd == "Yes")
{
    <div>
         @Html.Action("ViewManagers", "Businesses")
    </div>
    <div>
        @Html.Action("RegisterManager", "Settings")
    </div>
    <div>
        @Html.ActionLink("Back to Business", "AdminView", "Businesses")
    </div>
}
else
{
    <h4>Hi, @User.Identity.Name - Only Business Admins can add Managers</h4>
    @Html.ActionLink("Back to Business", "MangerView", "Businesses")
}



