@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "userView";
}

<h2>@User.Identity.GetUserName()</h2>

<div>
    <h4>Hello <strong>@User.Identity.GetUserName()</strong></h4>

</div>
<div>
    <h3>Your Liked Businesses</h3>
    @Html.Action("ViewLikedBusinesses","Businesses")
</div>

@Html.ActionLink("View Your Liked Businesses","ViewLikedBusinesses", "Businesses") |
@Html.ActionLink("Change your Account Settings", "Index","Manage")



